body{
    font-family: 'Roboto', sans-serif;
}

.card{
    width: 100px;
}
.container-fluid img{
width: 80px;
}

.card-title{
font-weight: 300;
font-size: 20pt;
color: black;
}

.card-text{
    font-weight: 300;
    font-size: 16pt;
    color: #707070;
    margin: 0;
}

.lugar p{
    font-weight: 300;
    font-size: 13pt;
    color: #707070;
}

.precio-normal{
    font-weight: 300;
    font-size: 16pt;
    color: #707070;
}

.precio-oferta{
    font-weight: 500;
    font-size: 20pt;
    color: #28A745;
}

.form_titulo{
    font-weight: 500;
    font-size: 21pt;
    color: #FFFFFF;
}

#carouselExampleIndicators{
height: 50px;
}

.carousel-item img{
height: 50px;
}

.btn{
font-weight: 500;
}

.formulario{
background-color: #28A745;
}

.footer img{
    width: 80px;
}

.footer-text{
    font-weight: 300;
    color: #FDCFB3;
    text-align: center;
    color: red;
}

.footer-text{
    background-color: #28A745;
}